* {
    margin: 0;
}
footer {
    min-height: 120px;

}
header {
    min-height: 120px;
    background-color: aquamarine;
}
body{
    min-height: 100%;
}
html{
    min-height: 100vh;
}
main {
    min-height: 80%;
}

div {
    /*border: 1px solid black*/
}

.flex-hor{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex-ver{
    position: relative;
    display: flex;
    flex-direction: column;

}

.item{

    width: 200px;
    height: 220px;
    margin: 5px;
}

.item *{
    text-decoration: none;
    color: black;
}

.placeholder{
    width: 100%;
}

.container {
    width: 90%;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
}

.lib-b {
    width: 30%;
}

.lib-nav {
    display: block;
    margin: 10px;

}

.lib-item{

    width: 200px;
    height: 400px;
    margin: 5px;
}

.lib-item *{
    text-decoration: none;
    color: black;
}

.label {
    display: block;
}

.btn:hover{
    color: darkmagenta;
}

.btn{
    color: blue;
}