<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/resources/static/common.css">
</head>
<body>
<header th:fragment="header">
    <div class="flex-ver" style="height: 120px; justify-content: center">
        <div class="flex-hor">
            <div sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">Admin endpoint</a></div>
            <div><a sec:authorize="isAuthenticated()" href="/">Catalog</a></div>
            <div><a sec:authorize="isAuthenticated()" href="/cart/list">Cart</a></div>
            <div><a sec:authorize="isAuthenticated()" href="/library/list">Library</a></div>
            <div><a sec:authorize="isAnonymous()" href="/login">Login</a></div>
            <div><a sec:authorize="isAuthenticated()" href="/logout">Logout</a></div>
        </div>
    </div>
</header>
<footer th:fragment="footer">

</footer>
</body>
</html>