<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/resources/static/common.css">
</head>
<body>
<header th:fragment="header">
    <p sec:authorize="isAuthenticated()">auth</p>
    <p sec:authorize="isAnonymous()">anon</p>
    <p sec:authorize="hasRole('USER')">user</p>
    <p sec:authorize="hasRole('ROLE_USER')">role user</p>
    <p sec:authentication="name">user</p>
</header>
<footer th:fragment="footer">

</footer>
</body>
</html>