<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/resources/static/common.css">
</head>
<body>
<header th:fragment="header">
    <div sec:authentication="name"></div>
    <div sec:authorize="isAuthenticated()">true</div>
    <!--span th:text="${#authorization.expression('isAuthenticated()')}"></span-->


    <div sec:authorize="${hasRole('ROLE_ADMIN')}">Admin Service</div>

</header>
<footer th:fragment="footer">

</footer>
</body>
</html>