<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="common :: head">
</head>
<body>
<header th:insert="common :: header">

</header>
<main>
    <div class="flex-hor" style="justify-content: center">
        <div class="flex-ver" style="width: 80%">
            <div class="flex-hor">
                <div style="flex: 1">
                    &nbsp;
                </div>
                <div style="flex: 6">
                    search
                </div>
            </div>
            <div class="flex-hor">
                <div style="flex: 1">nav</div>
                <div style="flex: 6" class="flex-ver">
                    <div>slider</div>
                    <div class="flex-hor" style="justify-content: center">
                        <div class="container">
                            <div class="item">1</div>
                            <div class="item">2</div>
                            <div class="item">3</div>
                            <div class="item">4</div>
                            <div class="item">5</div>
                            <div class="item">6</div>
                            <div class="item">7</div>
                            <div class="item">8</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="common :: footer">

</footer>
</body>
</html>