<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" type="text/css" href="../static/common.css">
</head>
<body>
<header>

</header>
<main>
    <div class="flex-hor" style="justify-content: center">
        <div class="flex-ver" style="width: 80%">
            <div class="flex-hor">
                <div style="flex: 1">
                    &nbsp;
                </div>
                <div style="flex: 6">
                    search
                </div>
            </div>
            <div class="flex-hor">
                <div style="flex: 1">nav</div>
                <div style="flex: 6" class="flex-ver">
                    <div>slider</div>
                    <div class="flex-hor" style="justify-content: center">
                        <div class="container">
                            <div class="item">1</div>
                            <div class="item">2</div>
                            <div class="item">3</div>
                            <div class="item">4</div>
                            <div class="item">5</div>
                            <div class="item">6</div>
                            <div class="item">7</div>
                            <div class="item">8</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>