<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="common :: head">
</head>
<body>
<header th:insert="common :: header">

</header>
<main>
    <div class="flex-hor" style="justify-content: center">
        <div class="flex-hor" style="justify-content: flex-start; width: 80%">
            <div class="flex-ver" style="width: 100%">
                <div class="flex-hor" style="justify-content: flex-start">
                    <!--a href="" class="lib-nav">All</a-->
                    <!--a href="" class="lib-nav">Favourite</a-->
                </div>
                <div class="flex-hor" style="justify-content: space-between">
                    <button class="lib-b">sort</button>
                    <button class="lib-b">search</button>
                    <button class="lib-b">style</button>
                </div>
                <div class="flex-hor" style="justify-content: center">
                    <div class="container">
                        <div th:each="item : ${cart.getItems()}" class="lib-item">
                            <a th:href="'/item/' + ${item.getId()}">
                            <img width="200px" th:src="'/dynamic/poster' + ${item.getPosterURI()}" alt="poster">
                            <p th:text="${item.getName()}"></p>
                            <p th:text="${item.getDescription()}"></p>
                            </a>
                            <a class="btn" th:href="${'/dynamic/content/%s%s'.formatted(item.getId().toString(), item.getFileURI())}">Download</a>
                        </div>
                    </div>
                </div>
                <div class="flex-hor">
                    <p th:if="${page} < 1" >&nbsp;</p>
                    <a th:if="${page} > 0" th:href="'/?pageNumber=' + ${page - 1}" th:text="${page}"/>
                    <p th:text="${page} + 1"></p>
                    <a th:if="!${lastPage}" th:href="'/?pageNumber=' + ${page + 1}" th:text="${page} + 2"/>
                    <p th:if="${lastPage}">&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="common :: footer">

</footer>

</body>
</html>