<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/common.css">
</head>
<body>
<header>

</header>
<main style="height: 100%">
    <div class="flex-hor" style="justify-content: center; height: 100%">
        <div class="flex-ver" style="justify-content: center; height: 100%">
            <form action="#" th:action="@{/login}" th:object="${loginDTO}" th:method="post" >
                <div>
                    <label class="label" for="email">Username</label>
                    <input type="email" name="email" id="email">
                </div>
                <div>
                    <label class="label" for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <div>
                    <a style="margin: 5px" id="toReg" th:href="@{/reg}">Don't have an account?</a>
                </div>
                <div>
                    <p style="margin: 5px" id="error" th:text="${param.error}">&nbsp;</p>
                </div>
                <div class="flex-hor" style="justify-content: center">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</main>
<footer>

</footer>
</body>
</html>