<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="common :: head">
</head>
<body>
<header th:insert="common :: header">

</header>
<main style="height: 100%">
    <div class="flex-hor" style="justify-content: center; height: 100%">
        <div class="flex-ver" style="justify-content: center; height: 100%">
            <!--/*@thymesVar id="loginDTO" type="com.moklyak.ecommerce.dtos.LoginDTO"*/-->
            <form name="loginForm" th:action="@{/login}" th:object="${loginDTO}" th:method="post">
                <div>
                    <label class="label" for="email">Username</label>
                    <input type="email" name="email" id="email" th:field="*{email}">
                </div>
                <div>
                    <label class="label" for="password">Password</label>
                    <input type="password" name="password" id="password" th:field="*{password}">
                </div>
                <div>
                    <a style="margin: 5px" id="toReg" th:href="@{/register}">Don't have an account?</a>
                </div>
                <div>
                    <p style="margin: 5px" id="error" th:text="${error}">&nbsp;</p>
                </div>
                <div class="flex-hor" style="justify-content: center">
                    <input th:type="submit" th:value="Login"></input>
                </div>
            </form>
        </div>
    </div>
</main>
<footer th:insert="common :: footer">

</footer>
</body>
</html>