<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="common :: head">
</head>
<body>
<header th:insert="common :: header">

</header>
<main style="height: 100%">
    <div class="flex-hor">
        <div class="flex-ver">
            <p>Purchase successful. Check you <a href="/library/list">library</a></p>
        </div>
    </div>
</main>
<footer th:insert="common :: footer">

</footer>
</body>
</html>