<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="common :: head">
</head>
<body>
<header th:insert="common :: header">

</header>
<main style="height: 100%">
    <div class="flex-hor" style="justify-content: center; height: 100%">
        <div class="flex-ver" style="width: 80%; height:  100%; justify-content: space-around">
            <div class="flex-ver" >
                <p>You're buying next products: </p>
                <div th:each="item : ${cart.getItems()}" class="cart-item">
                    <p th:text="${item.getName()}"></p>
                    <br>
                </div>
            </div>
            <div class="flex-hor" style="justify-content: space-between; height: 40px">
                <div>
                    <span th:text="${'Total price: %.2f руб.'.formatted(sum)}"></span><span>руб.</span>
                </div>
                <form th:action="'/cart/buyConfirm'" method="get">
                    <input type="submit" th:value="'Buy'">
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:insert="common :: footer">

</footer>
</body>
</html>