<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="common :: head">
</head>
<body>
<header th:insert="common :: header">

</header>
<main style="height: 100%">
    <div class="flex-hor" style="justify-content: center; height: 100%">
        <!--/*@thymesVar id="registerDTO" type="com.moklyak.ecommerce.dtos.RegisterDTO"*/-->
        <form name="registerForm" th:action="@{/register}" th:object="${registerDTO}" th:method="post" class="flex-ver" style="justify-content: center; height: 100%">
            <div class="flex-hor" style="justify-content: center">
                <div>
                    <label class="label" for="username">Username</label>
                    <input type="text" name="username" id="username" th:field="*{username}">
                </div>
            </div>
            <div class="flex-hor" style="justify-content: center">
                <div>
                    <label class="label" for="email">Email</label>
                    <input type="email" name="email" id="email" th:field="*{email}">
                </div>
            </div>
            <div class="flex-hor" style="justify-content: center">
                <div>
                    <label class="label" for="password">Password</label>
                    <input type="password" name="password" id="password" th:field="*{password}">
                </div>
            </div>
            <div class="flex-hor" style="justify-content: center">
                <div>
                    <label class="label" for passwordc>Password confirmation</label>
                    <input type="password" name="password-c" id="password-c" th:field="*{passwordC}">
                </div>
            </div>
            <div class="flex-hor" style="justify-content: center">
                <a style="margin: 5px" id="toLogin" th:href="@{/login}">Already have an account?</a>
            </div>
            <div class="flex-hor" style="justify-content: center">
                <p style="margin: 5px; max-width: 100%" id="error" th:text="${error}">&nbsp;</p>
            </div>
            <div class="flex-hor" style="justify-content: center">
                <input th:type="submit" value="Register"></input>
            </div>
        </form>
    </div>
</main>
<footer th:insert="common :: footer">

</footer>
</body>
</html>